#Ignore mac files
.DS_store

# Ignore node modules
node_modules/
package-lock.json

# Ignore official data files
XmlParser/Data/Residential/initial_data.xml
XmlParser/Data/Residential/initial_data.json
XmlParser/Data/Residential/residentialDatabase.db
XmlParser/Data/Residential/Updates/
XmlParser/Data/Residential/Photos/


